body {
	background-color: #F4E9CD;
	font-family: monospace;
	color: #18535f;
	margin: 0;
	align-items: center;
	transition: opacity 1.5s ease-in-out;
}

.container {
	padding-top: 50px;
	transition: color 0.3s ease;
}

.titre {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #3DAB97;
}

.logo {
	width: 100px;
	height: 100px;
	margin: 10px;
	justify-content: center;
	align-self: center;
	animation: bounceAndFade 0.5s forwards;
}

@keyframes bounceAndFade {
	0% {
		transform: scale(1) translateY(0);
		opacity: 1;
	}

	50% {
		transform: scale(1.3) translateY(-15px);
		opacity: 0.8;
	}

	100% {
		transform: scale(1.1) translateY(-10px);
		opacity: 1;
	}
}

/*Style du caroussel */

.slider {
	margin-right: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 700px;
	overflow: hidden;
	z-index: 1;
}

.item {

	position: absolute;
	width: 400px;
	height: 600px;
	text-align: center;
	border-radius: 10px;
	transition: 0.5s;
	left: 42%;
	top: 0;
	transform: translateX(-50%);
	z-index: 1;
}

.item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	z-index: 1;
}

#next,
#prev {
	position: absolute;
	top: 50%;
	color: #3DAB97;
	background-color: transparent;
	border: none;
	font-size: xxx-large;
	font-family: monospace;
	font-weight: bold;
}

#next {
	right: 20px;
}

#prev {
	left: 20px;
}

h7 {
	margin-top: 50px;
	color: #3DAB97;
	font-family: Inter;
	font-size: 20px;
}


/* Formulaire */

.formulaire {
	background-color: #18535f;
	padding: 10px;
	margin: 10px;
	color: #18535f;
}



/* Footer */

#footer {
	background-color: #18535F;
	color: white;
	padding: 20px 0;
	text-align: center;
	border-top: 4px solid #004080;
	position: relative;
}

#footer a {
	color: #022B3A;
	text-decoration: none;
	margin: 0 10px;
	transition: color 0.3s ease;
}

#footer a:hover {
	color: #1e9ad3;
}

#footer .social-icons {
	margin: 20px 0;
}

#footer .social-icons a {
	font-size: 24px;
	margin: 0 10px;
	transition: transform 0.3s ease, color 0.3s ease;
}

#footer .social-icons a:hover {
	transform: scale(1.2);
	color: #23cfb8;
}

#footer .back-to-top {
	background-color: #f4e9cd;
	color: black;
	font-size: 12px;
	font-weight: 600;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	position: relative;
	right: 20px;
	bottom: 20px;
	border-radius: 3px;
	transition: background-color 0.3s ease;
}

#footer .back-to-top:hover {
	background-color: #23cfb8;
}

.icon-container {
	display: flex;
	justify-content: end;
	align-items: end;
}

.icon-container:hover .fa-arrow-up {
	animation: bounceAndFade 0.5s forwards;
}

@keyframes bounceAndFade {
	0% {
		transform: scale(1) translateY(0);
		opacity: 1;
	}

	50% {
		transform: scale(1.3) translateY(-15px);
		opacity: 0.8;
	}

	100% {
		transform: scale(1.1) translateY(-10px);
		opacity: 1;
	}
}

.fa-arrow-up {
	color: white;
	font-size: 24px;
	transition: transform 0.5s ease;
}