body {
    background: url('../images/3359.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: 800px 800px;
    font-family: 'Poppins', sans-serif;
    color: #18535f;
    margin: 0;
    transition: opacity 1.5s ease-in-out;
}

.allcontainer {
    background-color: #f4e9cd;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    padding-top: 50px;
    transition: color 0.3s ease;
}


@media (max-width: 1200px) {
    .allcontainer {
        width: 95%;
    }
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 100px;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; 
    height: 30%; 
    margin-bottom: 20px;
    animation: zoom-blur 3s infinite;
}

.logo-text {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: #18535f;
    text-align: center;
    margin: 5%;
    animation: zoom-blur 3s infinite;
}

@keyframes zoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}

@keyframes zoom-blur {
    0%, 100% {
        transform: scale(1);
        filter: blur(10px);
    }
    50% {
        transform: scale(1.3);
        filter: blur(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeinblurfrombottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.fade-in-blur {
    opacity: 0;
    animation: fadeinblurfrombottom 1s ease forwards;
}

    /* Style des titres */
.titre {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3DAB97;
}

.praticienne {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #18535f;
    text-align: center;
    margin: 5%;
    animation: zoom 3s;
}

.toucher {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: #99badc;
    text-align: center;
    margin: 5%;
}

.titre-dessous {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #18535f;
    text-decoration: underline;
    text-align: center;
    margin: 10%;
}

.titre-dessus {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #18535f;
    text-align: center;
    margin: 10%;
}

.titre-dessus span {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #3DAB97;
    text-align: center;
}


.description {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 22px;
    font-weight: 300;
    color: #18535f;
    text-align: end;
    margin: 10%;
}

@keyframes bounceAndFade {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.3) translateY(-15px);
        opacity: 0.8;
    }
    100% {
        transform: scale(1.1) translateY(-10px);
        opacity: 1;
    }
}

/*Style du caroussel */

/* Conteneur pour le slider et la pagination */
.slider-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider {
    margin: 0 auto;
	left:-15%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    z-index: 1;
}

.item {
    position: absolute;
    width: 400px;
    height: 600px;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
}

/* Style pour les chevrons */
#next, #prev {
    position: absolute;
    width: 30px;
    height: 70px;
    top: 40%;
    font-size: 4rem;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid #18535f;
    color: #3DAB97;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

#prev {
    left: 100px;
    /* Align to the left edge of the slider */
}

#next {
    right: 70px;
    /* Align to the right edge of the slider */
}

#next:hover, #prev:hover {
    background-color: #3DAB97;
    color: #ffffff;
    opacity: 1;
    transition: opacity 1.6s ease-out, transform 1.6s ease-out;
}

/* Style pour la pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    width: 15px;
    height: 15px;
    background-color: #3DAB97;
}
